body{
    margin: 0%;
    padding: 0%;
    background-color: lightpink
    ;
}
h1{
    font-weight: bold;
    text-align: center;
    background-color:burlywood;
    color:deepskyblue;
}
input[type="text"],input[type="email"]{
    width: 250px;
    background-color:darkgrey;
}

@media screen and (max-width: 600px) {
    .container,.container-fluid{
      width: auto;
      height: auto;
      font-size: 30px;
      margin-top: 0;

    }
  }

 .rating{
     position: absolute;
     transform: rotateY(180deg);
 } 
 .rating input{
     display: none;
 }
 .rating label{
 display: inline-block;
 cursor: pointer;
 width: 30px ;
 }
 .rating label:before{
     content: '\f005';
     font-family: fontAwesome;
     position: relative;
     display: block;
     font-size: 25px;
    
 }
 .rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    color: gold;
    font-size: 20px;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 2;
    
}

 #radio1,#radio2,#radio3,#radio4,#radio5{
     text-align: center;
     margin-left: 50px;
 } 

 header{
     font-weight: bold;
     color: crimson;
     font-size: 20px;

 }
 table{
     border: 20px; 
 }


 input[type=submit] {
    background-color: lightblue;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #text{
    border: 2px solid;
    width: 100%;
    height: 120px;
  }

 footer{
    position: sticky;
    bottom: 0;
    background-color: lightcoral;
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }